<body class="coming-soon">
	<div class="center">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-md-10 col-lg-10 col-lg-offset-1">
					<h1 class="bold text-white">Sports Nation</h1>
					<p>
						The easy way to manage your sports team, league, or tournament online.
					</p>
					<div id="countdown"></div>

				</div>
			</div><!--.row-->
		</div><!--.container-->
	</div><!--.center-->

	<ul class="social-links">
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-github"></i></a></li>
		<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	</ul>

	<div class="bg-overlay"></div><!--.bg-overlay-->

</body>

<script>
	$(document).ready(function () {
		ComingSoon.init();
	});
</script>