
<h6 class="semi-bold mt10 mb0 pull-right upper gf_oswald" >
	<%= pluralize members.count, "Athlete" %>
</h6>
<h3 class="semi-bold fs_20 mt0 mb0 upper gf_oswald">
	<span class="ion-clipboard mr15 text-blue h3"></span> Team Roster
</h3>