
<h6 class="semi-bold mt10 mb0 pull-right upper gf_oswald">
	<%= heads.count%> Coaches and Staff Members
</h6>
<h3 class="semi-bold fs_20 mt0 mb0 upper gf_oswald ls1">
	<span class="h3 ion-ios-people margin-right-10 text-blue"></span> Coaches and Staff
</h3>