<div class="panel box-shadow-ccc">
	<div class="panel-heading">
		<div class="panel-title"><h4><%= event.event_type %></h4></div>
	</div><!--.panel-heading-->
	<div class="panel-body without-padding">
		<ul class="list-material">
			<li class="has-action-left has-action-right">
				<a href="#" class="visible">
					<div class="list-action-left">
						<i class="ion-calendar icon-circle"></i>
					</div>
					<div class="list-content padding-left-20">
						<span class="title">
							<h4 class="bold no-margin">
								<%= link_to event.title,  "/events/#{event.slug}" %>
							</h4>
						</span>
					</div>
					<div class="list-action-right">
						<span class="top">
							<%= event.people_that_are_going.count %>
						</span>
						<i class="ion-search bottom"></i>
					</div>
				</a>
			</li>
		</ul>
	</div><!--.panel-body-->
</div><!--.panel-->

