<div class="panel box-shadow-ccc">
	<div class="panel-heading">
		<div class="panel-title padding-bottom-0">
			<h4><%= event.event_type %></h4>
			<span class="pull-right m-t-10">
				<small>
					<strong>
						<%= event.people_that_are_going.count %>
					</strong> 
					Attendees
				</small>
			</span>
		</div>
	</div><!--.panel-heading-->
	<div class="panel-body without-padding">
		<ul class="list-material">
			<li class="has-action-left has-action-right">
				<a href="#" class="visible">
					<div class="list-action-left">
						<i class="ion-calendar icon-circle"></i>
					</div>
					<div class="list-content padding-left-20">
						<span class="title">
							<h4 class="bold no-margin">
								<%= link_to event.title,  "/events/#{event.slug}" %>
							</h4>
						</span>
					</div>
					<div class="list-action-right">
						<button class="btn btn-primary margin-top-10 btn-xs button-striped button-full-striped btn-ripple">
							View
						</button>
					</div>
				</a>
			</li>
		</ul>
	</div><!--.panel-body-->
</div><!--.panel-->

