<li class="">
	
		<div class="list-content row">
			<div class="col-sm-1">
				<%= image_tag m.user.try(:avatar), class: "face-radius", alt: "", style: "width: 55px; height: 55px;" %>
			</div>

			<div class="col-sm-3">
				<h4 class="semi-bold no-margin capitalize">
					<%= m.user.try(:full_name) %>
				</h4>
				<p class="small">
					<small>
						Name
					</small>
				</p>
			</div>
			<div class="col-sm-2">
				<h4 class="no-margin">
					<%= m.participant_classification %>
				</h4>
				<p class="small">
					<small>
						Name
					</small>
				</p>
			</div>
			<div class="col-sm-2">
				<h4 class="no-margin">
					<%= m.position %>
				</h4>
				<p class="small">
					<small>
						Position
					</small>
				</p>
			</div>
			<div class="col-sm-4">
				<p class="small">
					<small>
						Quote
					</small>
				</p>
			</div>
		</div>
	
</li>