<div class="content">
	<div class="page-header full-content bg-primary" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize">
					<%= @team.name %>
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= teams_path %>">Teams</a></li>
					<li><a href="<%= team_path %>"><%= @team.name %></a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#general" data-toggle="tab">General</a></li>
				<li><a href="#tab2" data-toggle="tab">Tabs [2]</a></li>
				<li><a href="#tab3" data-toggle="tab">Tabs [3]</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">

					<div class="tab-content with-panel">
						<div class="tab-pane active text-style" id="general">

								Add some stuff here

						</div><!--tab-pane-->

						<div class="tab-pane text-style" id="tab2">
							
								put some more stuff here

						</div><!--tab-pane-->

						<div class="tab-pane text-style" id="tab3">

								finish it up here, or nah...?

						</div><!--.tab-pane-->
					</div><!--.tab-content-->

				</div><!--.panel-body-->
			</div><!--.panel-->
		</div><!--.col-md-12-->
	</div><!--.row-->
</div>
<!--.content-->
                        



                            



