<div class="content">
	<div class="page-header full-content mb0">
		<div class="row">
			<div class="col-sm-5">
				<h1>All Teams <small>(<%= Team.count %>)</small></h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="#" class="active">All Teams</a></li>
				</ol>
			</div><!--.col-->
			<div class="col-sm-1 text-right">
				<a class="btn btn-floating btn-pink" data-toggle="modal" data-target="#panel-new-team">
					<i class="ion-android-add"></i>
				</a>
			</div>
		</div><!--.row-->
	</div><!--.page-header-->

  <div class="page-header full-content"  style="background: #fff; border-bottom: 1px solid #ccc;">
    <div class="row">
      <div clas="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-md-4 text-center mt10">
                  <h4 class="semi-bold">
                    <span class="ion-search text-primary h4 no-margin"></span>                   
                    <span class="h5 upper bold ws1 ml10 no-margin">search all teams</span>
                  </h4>
                </div>
                <div class="col-md-8 box-shadow-ccc"  style="background: #fff;">
                  <div class="padding-bottom-0">
                    <div class="inputer mt5 mb5 ml10">
	              <input type="text" class=" fs_20 quicksearch-teams typeahead typeahead-teams form-control" rows="1" placeholder="Enter team name">
	            </div>
	          </div>
	        </div><!--.col-md-9-->
	      </div><!--.row-->
	    </div>
	  </div>
	</div>
</div>
</div>	
</div>
  

  <div class="bg-muted" style="background: #F7F7F7;">
    
    <div class="row teams">
      <div class="col-lg-10 col-lg-offset-1">
      	<%= render "team" %>	
      </div>
    </div>
  </div>
      
</div><!--.row-->


<script type="text/javascript">
	// QUICKSEARCH USERS

	$( function() {
	  // quick search regex
	  var qsRegex;
	  
	  // init Isotope
	  var $grid = $('.teams').isotope({
	    itemSelector: '.element-item',
	    layoutMode: 'fitRows',
	    filter: function() {
	      return qsRegex ? $(this).text().match( qsRegex ) : true;
	    }
	  });

	  // use value of search field to filter
	  var $quicksearch = $('.quicksearch-teams').keyup( debounce( function() {
	    qsRegex = new RegExp( $quicksearch.val(), 'gi' );
	    $grid.isotope();
	  }, 200 ) );
	  
	});

	// debounce so filtering doesn't happen every millisecond
	function debounce( fn, threshold ) {
	  var timeout;
	  return function debounced() {
	    if ( timeout ) {
	      clearTimeout( timeout );
	    }
	    function delayed() {
	      fn();
	      timeout = null;
	    }
	    timeout = setTimeout( delayed, threshold || 100 );
	  }
	}
</script>

