<div class="content">
  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>New Team<small></small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="#" class="active">[user name]</a></li>
          <li><a href="#" class="active">[team index]</a></li>
          <li><a href="#" class="active">[new]</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->

<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title"><h4>Complete the form below. </h4></div>
			</div><!--.panel-heading-->
			<div class="panel-body">

				<%= form_for Team.new, url: teams_path, method: :post do |f| %>
	

				<div class="row example-row">
					<div class="col-md-3">Name </div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="inputer">
							<div class="input-wrapper">
								<%= f.text_field :name, type: "text", class: "form-control", placeholder: ""%>
							</div>
						</div>
					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Sport </div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="inputer">
							<div class="input-wrapper">
								<%= f.text_field :sport, type: "text", class: "form-control", placeholder: ""%>
							</div>
						</div>
					</div><!--.col-md-9-->
				</div><!--.row-->

			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-md-12-->
</div><!--.row-->
  <%= f.submit "Create Team", class: "btn btn-blue" %>
  <% end %>     
</div>
<%#= @id %>
<%#= @class %>



