<!-- fans -->
<div id="fans" class="tab-pane">
   <div class="container">
    <div class="row">
      <div class="col-lg-12">
				<%= render 'shared/fans', fans: @fans %>
			</div>
		</div>
	</div>
</div>