<div id="following" class="tab-pane">
 	<div class="container">
    <div class="row">
      <div class="col-lg-12">
  			<%= render 'shared/following', follows: @follows %>
  		</div>
  	</div>
  </div>
</div>
