<div id="media" class="tab-pane tab-top-margin">
	<div class="row">
		<div class="col-lg-12">
		  <%= render 'shared/media' %>
		</div>
			<div class="row image-row">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/1.jpg" title="Some title goes here" data-gallery="#user-gallery">
					<img src="../../assets/globals/img/picjumbo/1.jpg" alt="" class="img-responsive">
				</a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/2.jpg" title="Another title goes here" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/2.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/3.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/3.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/4.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/4.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/5.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/5.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/6.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/6.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/7.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/7.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/8.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/8.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/9.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/9.jpg" alt=""></a>
			</div><!--.col-->

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/10.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/10.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/11.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/11.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/12.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/12.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/13.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/13.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/14.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/14.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/15.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/15.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/16.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/16.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/17.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/17.jpg" alt=""></a>
			</div><!--.col-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="../../assets/globals/img/picjumbo/18.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/18.jpg" alt=""></a>
			</div><!--.col-->

		</div><!--.row-->
	</div>
</div>

