<div class="container">
  <div class="header-tabs scrollable-tabs sticky">  
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
          <ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
            <li class="active">
              <a href="#about" data-toggle="tab" class="btn-ripple">About</a>
            </li>
            <li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
            <li><a href="#teammates" data-toggle="tab" class="btn-ripple">Teammates</a></li>
            <li>
              <a href="#media" data-toggle="tab" class="btn-ripple">Photos & Videos</a>
            </li>
            <% if ParentChild.where(child_id: @user.id).present? %>
              <li>
                <a href="#parent-child" data-toggle="tab" class="btn-ripple">Parents</a>
              </li>
            <% end %>
            <li>
              <a href="#calendar-tab" data-toggle="tab" class="btn-ripple">
                Calendar
              </a>
            </li>
            <li>
              <a href="#following" data-toggle="tab" class="btn-ripple">Following</a>
            </li>
            <li><a href="#fans" data-toggle="tab" class="btn-ripple">Fans</a></li>
            <%# if ParentChild.where(parent_id: @user.id).present? %>
              <!-- <li><a href="#parent-child" data-toggle="tab" class="btn-ripple">Children</a></li> -->
            <%# end %>
            <!-- <li><a href="#photo" data-toggle="tab" class="btn-ripple">Photo</a></li> -->
            <li>
              <% if current_user %>
                <% if current_user.admin? or current_user == @user %>
                  <button href="" class="ml10 mt15 btn btn-blue btn-ripple btn-xs text-white">
                    <%= link_to edit_user_path(@user) do %>
                        <span class="text-white">
                          <span class="ion-gear-b mr5"></span> Edit</span>
                      <% end %>
                    </button>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>