<%= Formbuilder.templates['templates/formbuilder/partials/save_button']() %>
<%= Formbuilder.templates['templates/formbuilder/partials/left_side']() %>
<%= Formbuilder.templates['templates/formbuilder/partials/right_side']() %>
<div class='fb-clear'></div>