<% cache ["v1", "v1", "login-signup"] do %>
  <body class="bg-login bg-image-overlay-dark" style="background: url(http://static1.squarespace.com/static/55d1ec72e4b06ab7f69741f5/t/56aab6d53b0be305046be84b/1454028506051/DUSC-downtown-united-soccer-club-youth-new-york-city-home-travel.jpg?format=2500w) fixed no-repeat; background-size: cover;">
    <div class="login-screen">
      <div class="panel-login bg-white b-rad-4-top">
        <div class="padding-10 b-rad-4-top" style="background: #888;">
          <h4 class="logo mt20 logo text-light-shadow text-center text-muted fs_18">
            <%= image_tag("icons/flag.png", height: "20", width: "auto", class: "margin-right-5", style: "margin-top: -3px;") %>
            <span class="text-white">SportsMarkit</span>
          </h4>
          <h4 class="text-center h4 bold no-margin text-white">Welcome back.</h4>
          <p class="text-white text-center no-margin small">Login to your sports life below.</p>
        </div>
        <hr class="mb15 mt0"/>
        <div id="pane-login" class="no-padding panel-body active">
          <%= render "users/login_signup/login" %>
        </div>
        <div id="pane-forgot-password" class="panel-body no-padding">
          <%= render "users/login_signup/forgot_password" %>
        </div>
        <div id="pane-create-account" class="panel-body no-padding">
          <%= render "users/login_signup/create_account" %>
        </div>
      </div>
    </div>
  </body>
<% end %>
