<h2>Forgot Your Password</h2>
				
<%= form_tag password_resets_path, remote: true do %>
	<!-- email recover form  -->
	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
				<%= text_field_tag :email, params[:email], placeholder: "Enter your email address", class: "form-control", type: "text" %>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-buttons clearfix">
		<%= submit_tag "Send", :class => "btn btn-block btn-success pull-right", type: "submit" %>
	</div><!--.form-buttons-->
<% end %>

<!--:method => :post, :class => "animated fadeIn", --> 