- cache ["v1", "v1", "login_page"] do
  h5.text-muted.semi-bold.text-center LOGIN BELOW
  hr.hr-333.mt10
  = form_tag sessions_path, id: 'login-form', data: { toggle: 'validator', disable: false } do |f|
    .form-group
      .inputer
        .input-wrapper.form-group
          = text_field_tag :identifier, nil, { placeholder: "Phone number or email.", class: "form-control", required: true }
          .help-block.with-errors
    .form-group
      .inputer
        .input-wrapper.form-group
          = password_field_tag :password, nil, { placeholder: "Password", class: "form-control", required: true }
          .help-block.with-errors
    .form-buttons.clearfix.m-t-10
      = submit_tag "Login", class: "btn btn-block btn-primary pull-right"
    br
    h5.text-muted.semi-bold.text-center Or, use one-click-login
    .social-accounts
      .btn-group-justified
        = link_to "/auth/facebook", class: "btn-block btn btn-white" do
          span.text-primary.semi-bold
            i.fa.fa-facebook
            | Facebook
    ul.extra-links.mt5
      li
        = link_to new_password_reset_path, class:"text-muted pull-right" do
          h6.no-margin
            a.show-pane-forgot-password href="#"  Forgot your password ?
      li
        a.bold.show-pane-create-account.ls1 href="#"
          u Create a new account
