<div class="content">
	<div class="page-header full-content">
		<div class="row">
			<div class="col-sm-5">
				<h1>Leagues <small>(3,050)</small></h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="#" class="active">Leagues</a></li>
				</ol>
			</div><!--.col-->
			<div class="col-sm-1 text-right">
				<a class="btn btn-floating btn-pink" data-toggle="modal" data-target="#panel-new-league">
					<i class="ion-android-add"></i>
				</a>
			</div>
		</div><!--.row-->
	</div><!--.page-header-->

	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					<!-- <div class="panel-title"><h4>ALPHABET SORTING</h4></div> -->
				</div><!--.panel-heading-->
				<div class="panel-body">
					<div class="overflow-table">
						<table class="display datatables-alphabet-sorting">
							<thead>
								<tr class="fs-16">
									<th>Name</th>
									<th>Sport</th>
									<th>State</th>
									<th>Description</th>
								</tr>
							</thead>

							<tbody id="league">
								<%= render "league" %>							
							</tbody>
						</table>
					</div><!--.overflow-table-->

				</div><!--.panel-body-->
			</div><!--.panel-->
		</div><!--.col-md-12-->
	</div><!--.row-->
</div><!--.content-->

	
<h1><%#= format(Date.today, 4)%></h1>





