<div class="content">
	<div class="page-header full-content mb0">
		<div class="row">
			<div class="col-sm-5">
				<h1>All Leagues <small>(<%= League.count %>)</small></h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="#" class="active">All Leagues</a></li>
				</ol>
			</div><!--.col-->
			<div class="col-sm-1 text-right">
				<a class="btn btn-floating btn-pink" data-toggle="modal" data-target="#panel-new-league">
					<i class="ion-android-add"></i>
				</a>
			</div>
		</div><!--.row-->
	</div><!--.page-header-->

 	<div class="col-md-2 pt60">
    <div class="row">
      <div class="col-md-11 button-group filters-button-group">
        <h6 class="bold text-muted no-margin">
          <span class="ion-funnel text-indigo mr5"></span>
          View by Type
        </h6>
        <ul id="filters" class="index-filters text-muted mt20">
          <li>
            <button data-filter=".all" class="btn btn-white b-rad-4 btn-sm btn-block">
              <span class="filter">All</span> 
              <span class="count">5,462</span>
            </button>
          </li>
          <li>
            <button data-filter=".transition" class="btn btn-white b-rad-4 btn-sm btn-block">
              <span class="filter">School District</span> 
              <span class="count">2,462</span>
            </button>
          </li>
          <li>
            <button data-filter=".metal" class="btn btn-white b-rad-4 btn-sm btn-block">
              <span class="filter">Recreational</span> 
              <span class="count">1,112</span>
            </button>
          </li>
           <li>
            <button data-filter=".alkali, .alkaline-earth" class="btn btn-white b-rad-4 btn-sm btn-block">
              <span class="filter">Youth</span> 
              <span class="count">512</span>
            </button>
          </li>
          <li>
            <button data-filter="*" class="button is-checked btn btn-white b-rad-4 btn-sm btn-block">
              <span class="filter">Adult</span> 
              <span class="count">919</span>
            </button>
          </li>
        </ul> 
      </div>
    </div>
  </div>
  <div class="bg-muted col-md-10" style="background: #fff; margin-left: 0px; border-left: 1px solid #eee; padding: 20px 30px; min-height: 1000px;">

    <div class="row">
      <div class="col-md-6 pt40">
        <div class="inputer">
          <div class="input-wrapper">
            <!-- <h6 class="text-indigo bold mb10">
              <span class="ion-search text-indigo mr5"></span> Search Our Sports Community
            </h6> -->
            <input type="text" class="pb20 uicksearch-leagues typeahead typeahead-leagues form-control input-sm" placeholder="Search leagues..."  />
          </div>
        </div>
      </div>

      <div class="col-md-3">
      </div>

      <div class="col-md-3">
        <div class="well bgcolor-light-grey no-margin">
          <div class="btn-group btn-block">
            <button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
              <span class="text-muted">
                League Directory
                <span class="ml10 caret"></span>
              </span>
            </button>
            <ul class="dropdown-menu directory" role="menu">
              <% @leagues.each do |league| %>
                <li>
                  <%= link_to leagues_path(league) do %>
                      <%= league.name %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div><!--.btn-group-->
        </div>
      </div>
    </div>

    <br/>
  
    <div class="leagues grid">
    	<%= render "league" %>	
    </div>
  </div>
</div>
      
<script type="text/javascript">
	
	// QUICKSEARCH USERS

	$( function() {
	  // quick search regex
	  var qsRegex;
	  
	  // init Isotope
	  var $grid = $('.leagues').isotope({
	    itemSelector: '.element-item',
	    layoutMode: 'fitRows',
	    filter: function() {
	      return qsRegex ? $(this).text().match( qsRegex ) : true;
	    }
	  });

	  // use value of search field to filter
	  var $quicksearch = $('.quicksearch-leagues').keyup( debounce( function() {
	    qsRegex = new RegExp( $quicksearch.val(), 'gi' );
	    $grid.isotope();
	  }, 200 ) );

	});

	// debounce so filtering doesn't happen every millisecond
	function debounce( fn, threshold ) {
	  var timeout;
	  return function debounced() {
	    if ( timeout ) {
	      clearTimeout( timeout );
	    }
	    function delayed() {
	      fn();
	      timeout = null;
	    }
	    timeout = setTimeout( delayed, threshold || 100 );
	  }
	}

</script>


