<div id="roster" class="tab-pane">
	<div class="row pt40">
		<div class="col-lg-12">

			<!-- coaches and staff -->
			<div class="panel panel-transparent box-shadow-ccc">
				<div class="panel-heading no-margin">
					<div class="panel-title" id="coach-count">
				       <%= render 'coach_count', heads: @heads %>
				       <h3 class="semi-bold fs_20 mb0">
							Coaches and Administrative Staff Members
						</h3>
					</div>
				</div><!--.panel-heading-->
				<hr class="no-margin"/>
				<div class="panel-body no-padding" id="heads-of-team">
					<%= render 'heads_of_team', heads: @heads %>
				</div><!--.panel-body-->
			</div><!--.panel-->
			<br/>
			<!-- coaches and staff -->

		</div>

		<div class="col-lg-12">

			<!-- team roster -->
			<div class="panel panel-transparent box-shadow-ccc">
				<div class="panel-heading no-margin">
					<div class="panel-title" id="athlete-count">
					  	<%= render 'athlete_count', members: @members%>
					  	<h3 class="semi-bold fs_20 mb0">
							Active Athletes
						</h3>
					</div>
				</div><!--.panel-heading-->
				<hr class="no-margin"/>
				<div class="panel-body no-padding" id="athletes-of-team">
		         <%= render 'athletes_of_team', members: @members, team: @team %>
				</div><!--.panel-body-->
			</div><!--.panel-->
			<!-- team roster -->

		</div>
	</div>
</div>
