<div class='fb-edit-section-header'>Prefill with</div>

<select data-rv-value="model.<%= Formbuilder.options.mappings.PREFILL_WITH %>" style="width: auto;">
  <option value="">Select</option>
  <option value="first_name">First name</option>
  <option value="last_name">Last name</option>
  <option value="full_name">Full name</option>
  <option value="email">Email</option>
  <option value="mobile_phone_number">Phone</option>
</select>
