<li class="has-action-left divider with-border no-margin">
  <div class="list-action-left">
    <%= link_to eval("new_#{klass}_event_path(object)"), class: "btn btn-floating btn-blue btn-ripple" do %>
      <i class="ion-chatboxes icon"></i>
    <% end %>
  </div>
  <div class="list-content pl10">
    <span class="title">Instant Message Connection</span>
    <span class="caption">Chat with people in your sports community.</span>
  </div>
</li>