<li class="has-action-left divider with-border no-margin">
  <div class="list-action-left">
    <%= link_to eval("#{klass}_signed_documents_path(@object)"), class: "btn btn-floating btn-cyan btn-ripple" do %>
      <i class="ion-android-checkbox-outline icon"></i>
    <% end %>
  </div>
  <div class="list-content pl10">
    <span class="title">View Signed Documents</span>
    <span class="caption">Signed documents available.</span>
  </div>
</li>