<li class="has-action-left divider with-border no-margin">
  <div class="list-action-left">
    <%= link_to eval("new_#{klass}_event_path(object)"), class: "btn btn-floating btn-orange btn-ripple" do %>
      <i class="material-icons">&#xE145;</i>
    <% end %>
  </div>
  <div class="list-content pl10">
    <span class="title">Add Event</span>
    <span class="caption">Create a new event.</span>
  </div>
</li>  
<li class="has-action-left divider with-border no-margin">
  <div class="list-action-left">
    <a href="<%= "/users/#{object.slug}#tab_calendar-tab" %>" class="btn btn-floating btn-orange btn-ripple">
      <i class="ion-calendar icon"></i>
    </a>
  </div>
  <div class="list-content pl10">
    <span class="title">Your Calendar</span>
    <span class="caption">View and manage your sports calendar.</span>
  </div>
</li>