<li class="has-action-left divider with-border no-margin">
  <div class="list-action-left">
    <a href="<%= eval("#{klass}_path(@object)") %>" class="btn btn-floating btn-orange btn-ripple">
      <i class="material-icons">&#xE145;</i>
    </a>
  </div>
  <div class="list-content pl10">
    <span class="title">Create a new team</span>
    <span class="caption"><%= User.user_type_subtitle(classification)%></span>
  </div>
</li>   