            <ul class="list-material">
              <li class="has-action-left has-action-right">
                <a href="#" class="visible">
                  <div class="list-action-left">
                    <i class="ion-plus-circled icon"></i>
                  </div>
                  <div class="list-content">
                    <span class="title">Add Teams</span>
                    <span class="caption">Create a new team or join an existing team.</span>
                  </div>
                  <div class="list-action-right">
                    <%= render 'dashboard/timestamp', klass: klass, object: object %>
                  </div>
                </a>
              </li>
              <li class="has-action-left has-action-right">
                <a href="#" class="visible">
                  <div class="list-action-left">
                    <i class="ion-plus-circled icon"></i>
                  </div>
                  <div class="list-content">
                    <span class="title">View and Manage Teams</span>
                    <span class="caption">View all current teams connected to your account.</span>
                  </div>
                  <div class="list-action-right">
                    <%= render 'dashboard/timestamp', klass: klass, object: object %>
                  </div>
                </a>
              </li>
            </ul>