<div class="panel box-shadow-ccc">
  <div class="panel-heading">
    <div class="panel-title">
      <h3 class="fs_26 mb0">Your Profiles</h3>
    </div> 
  </div><!--.panel-heading-->
  <div class="panel-body without-padding">
    <ul class="list-material borderless">
      <li class="has-action-left divider with-border no-margin">
        <a href="#" class="visible">
          <div class="list-action-left">
            <a href="<%= eval("#{klass}_path(@object)") %>" class="btn btn-floating btn-blue btn-ripple">
              <i class="material-icons">&#xE8A6;</i>
            </a>
          </div>
          <div class="list-content pl10">
            <span class="title"> View Profile</span>
            <span class="caption">Update or complete your public profile.</span>
          </div>
        </a>
      </li>      
      <li class="has-action-left divider with-border no-margin">
        <a href="#" class="visible">
          <div class="list-action-left">
            <%= link_to eval("edit_#{klass}_path(@object)"), class: "btn btn-floating btn-blue btn-ripple" do %>
              <i class="material-icons">&#xE8B8;</i>
            <% end %>
          </div>
          <div class="list-content pl10">
            <span class="title">Edit Your Profile</span>
            <span class="caption">Update or complete your public profile.</span>
          </div>
        </a>
      </li>
      <li class="has-action-left divider with-border no-margin">
        <a href="#" class="visible">
          <div class="list-action-left">
            <%= link_to "/#{klass.pluralize}/#{@object.slug}/edit#tab_media",  class: "btn btn-floating btn-blue btn-ripple" do %>
              <i class="material-icons">&#xE8A7;</i>
            <% end %>
          </div>
          <div class="list-content pl10">
            <span class="title">Add Photo, Articles, and Video</span>
            <span class="caption">Enhance your profile with media.</span>
          </div>
        </a>
      </li>
      <li class="has-action-left divider with-border no-margin">
        <a href="#" class="visible">
          <div class="list-action-left">
            <a href="#"  class="btn btn-floating btn-blue btn-ripple"><i class="material-icons">&#xE8D3;</i></a>
          </div>
          <div class="list-content pl10">
            <span class="title">Manage other Profiles</span>
            <span class="caption">Enhance your profile with media.</span>
          </div>
        </a>
      </li>
    </ul>
  </div><!--.panel-body-->
</div><!--.panel-->

