        <h5 class="bold">Plan & Payments</h5>
        <ul class="list-material">
          <li class="has-action-left has-action-right">
            <a href="#" class="visible">
              <div class="list-action-left">
                <i class="ion-calendar icon"></i>
              </div>
              <div class="list-content">
                <span class="title">My Registrations</span>
                <span class="caption">Go Pro! Upgrade today to get the most out of SportMarkit.</span>
              </div>
              <div class="list-action-right">
                <%= render 'dashboard/timestamp', klass: klass, object: object %>
              </div>
            </a>
          </li>
        </ul>