<li class="has-action-left divider with-border no-margin">
  <div class="list-action-left">
    <%= link_to user_registrations_path(@object), class: "btn btn-floating btn-cyan btn-ripple" do %>
      <i class="material-icons">&#xE85D;</i>
    <% end %>
  </div>
  <div class="list-content pl10">
    <span class="title">My Registrations</span>
    <span class="caption">Go Pro! Upgrade today to get the most out of SportMarkit.</span>
  </div>
</li>
