<%= form_for current_user.relationships.build, html: {method: :post, remote: true } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :team_id, value: @team.id %>

  <%= button_tag class: "btn btn-white" do %>
  	<span class="ion-plus-circled mr5"></span> Join Team
  <% end %>

<% end %>