<div class="modal fade full-height from-right" id="panel-new-team-league" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add a New League</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading">
								<div class="panel-title"><h4>Complete the form below. </h4></div>
							</div><!--.panel-heading-->
							<div class="panel-body">
								
								<% League.all.each do |league| %>

                               <div id="league-<%= league.id %>">
								<% unless TeamLeague.where(team_id: @team.id, league_id: league.id ).present? %>
								  <%= render 'team_leagues/join_league', team: @team, league: league %>
								<% else %>
								  <%= render 'team_leagues/leave_league', team: @team, league: league %>
								<% end %>
							    </div>

						        <% end %>

						

							
							</div><!--.panel-body-->
						</div><!--.panel-->
					</div><!--.col-md-12-->
				</div><!--.row-->
			</div>
			<div class="modal-footer">
				
			</div>
						
		</div>
	</div>
</div><!--.modal-->

