<div class="modal fade full-height from-right" id="panel-new-facility" tabindex="-1" role="dialog" aria-hidden="true">
	<div id="new-facility-partial">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 pr20 pl20 pt10">
							<div class="panel">
								<div class="panel-heading no-border">
									<div class="panel-title">
									    <%= link_to selection_option_facilities_path(selection: "form", object: @object.class.to_s, object_id: @object.try(:id)), remote: true, class: "btn btn-primary mr10" do %>
										  <h3><i class="ion-plus-circled mr5"></i>Add a New Facility</h3>
										<% end %>
										<% if @object.present? %>
										<br><br>
										<% unless @object.class.to_s == "League" %>
										    <%= link_to selection_option_facilities_path(selection: "school", object: @object.class.to_s, object_id: @object.id), remote: true, class: "btn btn-primary mr10" do %>
											  <h3><i class="ion-plus-circled mr5"></i>Select from School</h3>
											<% end %>
										<% end %>
										
										<br><br>
									    <%= link_to selection_option_facilities_path(selection: "search", object: @object.class.to_s, object_id: @object.id), remote: true, class: "btn btn-primary mr10" do %>
										  <h3><i class="ion-plus-circled mr5"></i>Search</h3>
										<% end %>
										<br><br>
										<% end %>
									</div>
								</div><!--.panel-heading-->
								<div class="panel-body pt20">
							

							
				

					



							</div><!--.panel-body-->
						</div><!--.col-md-12-->
					</div><!--.row-->
				</div>
			</div>
			
			

			
						
			</div>
		</div>
	</div>
</div><!--.modal-->