<%= link_to connection, method: :delete, remote: true, class: "btn btn-sm btn-danger pull-right" do %>
	Remove Facility <i class="ion-close-circled pull-right margin-left-10"></i> 
<% end %>
<div class="clearfix"></div>
<hr/>
