<!-- following -->
<div id="about" class="tab-pane active row">
	<div class="col-md-8">
		<div class="page-header full-content parallax" style="margin-right: 0;">
			<%= render "facilities/show/header" %>
			<%= render "facilities/show/tab_navigation" %>
		</div><!--.page-header-->
	</div>
</div>
