 <!-- following -->
  <div id="following" class="tab-pane tab-top-margin">

    <div class="row">
      <div class="col-md-6">
        <div class="card tile card-friend material-animate">
          <a href="user-profile.html"><img src="../../assets/globals/img/faces/1.jpg" class="user-photo" alt=""></a>
          <div class="friend-content">
            <p class="title">First Name, Last Name</p>
            <p><a href="user-profile.html">Title/Classification</a></p>
            <a class="btn btn-flat btn-primary btn-xs">Team/School</a>
            <p><a href="#" class="btn btn-default mt10">View Profile</a></p>
          </div><!--.friend-content-->
        </div><!--.card-->
      </div><!--.col-->
    </div>
  </div>
