<%= render 'shared/background_photo_tab', photo_owner: @facility %>

<div class="bg-overlay"></div><!--.bg-overlay-->
<div class="social-buttons">
	<%= render 'shared/fan' %>
</div>

<div class="row">
	<div class="col-sm-6">
		<%= render 'shared/upcoming_event', object: @facility %>
	</div><!--.col-->
	
</div><!--.row-->
