<!-- <div id="location" class="tab-pane tab-top-margin">
	<div class="">
	  <div id="gmaps_11" class="map" style="min-height: 100%; height: 850px;">
	    <%#= gmaps("map_options" => { "detect_location" => true, "auto_zoom" => false, "center_on_user" => false, "zoom" => 15, "maxZoom" => 15, "minZoom" => 3},"markers" => { "data" => @json }) %>
	  </div>
	</div>
</div>
  -->