<div class="container">
  <div class="header-tabs scrollable-tabs sticky">  
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
          <ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
    				<li class="active"><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
    				<li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
    				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
    				<!-- <li><a href="#amenities" data-toggle="tab" class="btn-ripple">Amenities</a></li> -->
    				<li><a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a></li>
    				<!-- <li><a href="#following" data-toggle="tab" class="btn-ripple">Following</a></li> -->
          	<li><a href="#fans" data-toggle="tab" class="btn-ripple">Fans</a></li>
      		  <!-- <li><a href="#photo" data-toggle="tab" class="btn-ripple">Photo</a></li> -->
    		  </ul>
        </div>
      </div>
    </div>
	</div>
</div>