<tr>
    <td class="v-align-middle capitalize">
    	<%= link_to user.full_name, user_path(user) %>
    </td>
    <td class="v-align-middle">
    	<%= user.id %>
    </td>
     <td class="v-align-middle">
    	<%= user.id %>
    </td>
    <td class="v-align-middle">
        <%= link_to "Delete", user, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-sm btn-danger" %>
    </td>
</tr>
