<div class="content">

  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>All Users <small><%= User.all.count%></small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= users_path %>" class="active">users</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <!-- <div class="panel-title"><h4>ALPHABET SORTING</h4></div> -->
        </div><!--.panel-heading-->
        <div class="panel-body">
          <div class="overflow-table">
            <table id="user-list" class="display datatables-alphabet-sorting">
              <thead>
                <tr class="fs-16">
                  <th style="width:40%" class="gf_muli">Name</th>
                  <th style="width:15%" class="gf_muli">Email</th>
                  <th style="width:20%" class="gf_muli">Signup Date</th>
                  <th style="width:22%" class="gf_muli">Actions</th>
                </tr>
              </thead>

              <tbody id="schools">
                <%= render @users %>           
              </tbody>
            </table>
          </div><!--.overflow-table-->

        </div><!--.panel-body-->
      </div><!--.panel-->
    </div><!--.col-md-12-->
  </div><!--.row-->
</div><!--.content-->


