<body class="bg-login">
  <div class="bg-overlay"></div>
  <div class="login-screen">
    <div class="panel-login">
      <div class="logo">
        <h2 class="logo text-light-shadow text-center">
          <%= image_tag("icons/flag.png", height: "35", width: "auto", class: "margin-right-5", style: "margin-top: -3px;") %>
          <span class="text-white">SportsMarkit</span>
        </h2>
      </div>
      <div id="pane-login" class="panel-body">
        <%= render "users/login_signup/login" %>
      </div>
      <div id="pane-forgot-password" class="panel-body">
        <%= render "users/login_signup/forgot_password" %>
      </div>
      <div id="pane-create-account" class="panel-body active">
        <%= render "users/login_signup/create_account" %>
      </div>
    </div>
  </div>
</body>
