Welcome. Let's Get You Started. Select all That apply.

<br><br>
<div id="type-list">

 <%= render 'classifications/type', user: @user %>

</div>

<br><br>

<%= link_to "Update your Profile", edit_user_path(@user) %> 
