.content
  .page-header.full-content.bg-blue
    .row
      .col-sm-6
        h1
          | Registration
          small.m-l-10.inline-block Payment information
      .col-sm-6
        ol.breadcrumb
          li
            a href="/"
              i.ion-home
          li
            a href="" = @object.class.to_s.pluralize
          li
            a href="#"
          li
            a.active href="#"  Registration
  .row
    .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-md-offset-2
      .panel.box-shadow-ccc
        .panel-heading
          .panel-title.text-center
            br/
            h3 Registration Payment.
            h6.bold Registration for #{@object.name}
        hr.no-margin/
        = form_for [@form], url: registration_pay_path(@form.id), html:{class: "registration_card_form"} do |f|
          .panel-body.m-b-30.pr40.pl40
            .form-row.text-center
              .row.example-row.no-margin
                .col-md-12
                  h6.mb0 Registrant
                  h3.mt0= @form.submittable.full_name
                .col-md-10.col-md-offset-1
                  p.mb10
                    span.label.label-primary.bold.text-center.mb0
                      | Option: 
                      = @form.selected_option.option.name
                  h2.text-center.no-margin.semi-bold
                    = number_to_currency(@form.price_option.grand_price, precision: 2)
                    small.small.h6
                      = "/year"
                  = hidden_field_tag :amount, @form.price_option.grand_price.round(2)
          hr.no-margin/
          br/
          h5.text-muted.text-center Please enter your payment information below.
          .panel-body.m-b-30.pr40.pl40
            .form-row
              .row.example-row
                .col-md-12 Name on Card
                .col-md-12
                  .inputer
                    .input-wrapper
                      = text_field_tag :name_on_card, nil, name: nil, required: true, class: "form-control", placeholder: "John Smith"
            .form-row
              .row.example-row
                .col-md-12 Credit card number
                .col-md-12
                  .inputer
                    .input-wrapper
                      = text_field_tag :card_number, nil, name: nil, required: true, class: "form-control", placeholder: "4242 4242 4242 4242"
            .form-group.m-t-30
              .form-row
                .controls
                  div clas=("row clearfix form-row")
                    .col-md-5
                      .row.example-row
                        .col-md-12 Expiration Month
                        .col-md-12
                          .inputer
                            .input-wrapper
                              = select_month nil, {add_month_numbers: false}, {name: nil, id: :card_month, class: "form-control"}
                    .col-md-4
                      .row.example-row
                        .col-md-12 Expiration Year
                        .col-md-12
                          .inputer
                            .input-wrapper
                              = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", class: "form-control"}
                    .col-md-3
                      .row.example-row
                        .col-md-12 CVC Number
                        .col-md-12
                          .inputer
                            .input-wrapper
                              = text_field_tag :card_code, nil, name: nil, required: true, class: "form-control", placeholder: "035"
          .panel-footer.form-layout
            br/
            = f.submit value: "Upgrade Account", class: "btn btn-primary btn-block "
            = hidden_field_tag :stripe_token
            br/
