 <%= link_to eval("new_#{@form.formable.class.to_s.downcase.underscore}_form_option_path(@form.formable, @form)"), method: :get ,remote: true, class: 'btn btn-large btn-blue' do %>
   <i class="ion ion-plus-circled mr5"></i> Add Registration Option
 <% end %>
 
 <div id="new-options">
   <% @form.options.each do |o| %> 
     <%= render 'options/form', form: @form, o: o %>
   <% end %>
 </div>



<%= link_to "View", "/#{@form.formable_type.underscore.pluralize}/#{@form.formable.slug}/registrations/new" %>