<div class="col-md-12">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<% if @object.class.to_s == "User" %>
			  <h3 class="card-title">My Schedule</h3>
			<% else %>
			  <h6 class="semi-bold fs_14 mb0"><%= @object.name %></h6>
			  <h3 class="card-title">Upcoming Events</h3>
			<% end %>
			<!-- <div class="card-subhead">
			 <a href="#">7 Upcoming Events</a>
			</div> -->
			<!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body pl40 bgcolor-light-grey">
		   <% if @object.upcoming_events.present? %>
			  <div class="timeline single">
				  <%= render 'shared/show_view_events', object: @object %>
			  </div>
			
			<% else %>
			 <p class="mb0 mt0 center padding-10 text-grey">
				   <i class="ion-calendar mr10"></i>No Upcoming Events
			  
			   </p>
			<% end %>
		</div>
		<hr class="no-margin"/>
		
		<div class="card-footer">
			<ul>
				<li class="fs_14"><span class="mr5"><%= pluralize @object.upcoming_events.take(5).count, "Upcoming Event" %> </span></li>
				
				<% if current_user %>
				
					<% if (@object.upcoming_events.count == 0) && (@object.can_be_edited_by_user?(current_user)) %>
				  
					  <%= link_to eval("new_#{@object.class.to_s.downcase}_event_path(@object.friendly_id)"), class: "fs_14" do %>
					  <li>Add Events to Calendar</li>
					  <% end %>
				
					<% elsif (@object.upcoming_events.count == 0) %>
				
					<% end %>
				
				
				<% else %>
				<li><a href="#calendar-tab" data-toggle="tab" class="fs_14">View All Events</a></li>
				
				<% end %>
							     
				
			</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div><!--.timeline-->