<div class="panel-body">
	<div id="medias">
      <% @object.medias.each do |m| %>
        <%= render 'media/form', m: m, u: @object %>
      <% end %>
    </div>
	<div class="row m-b-20">
		<div class="col-lg-8 col-lg-offset-2">
			<%= link_to eval("new_#{@object.class.to_s.downcase.underscore}_medium_path(#{@object.id})"), method: :get ,remote: true, class: 'btn btn-large btn-blue btn-block' do %>
				Add New Media <i class="ion-plus-circled margin-left-10"></i>
			<% end %>
		</div>
	</div>
	
	<br><br><br>
	
	<div class="col-md-3">
        <div id="user-profile-picture">
          <%= render 'shared/add_photo' %>
        </div>
		
        <div id="user-profile-picture">
          <%= render 'shared/gallery' %>
        </div>
	</div>
</div>