<div class="panel box-shadow-ccc">
	<div class="panel-heading">
		<div class="panel-title"><h4> Our Facilities</h4></div>
	</div><!--.panel-heading-->
	<div class="panel-body without-padding">	
		<ul class="list-material borderless">
			<% facilities.each do |facility| %>
				<li class="has-action-left has-action-right">
					<a href="#" class="visible">
						<div class="list-action-left">
							<i class="ion-checkmark-circled icon-circle"></i>
						</div>
						<div class="list-content">
							<span class="h4 bold"><%= facility.name %></span>
						</div>
						<div class="list-action-right">
							<a href="#" class="btn btn-primary pull-right mt20">View</a>
						</div>
					</a>
				</li>
				<li class="divider with-border">
				</li>
			<% end %>
		</ul>
	</div><!--.panel-body-->
</div><!--.panel-->


				

