<div id="fan-button">
	<% if current_user.follows.where(fannable_id: @object.id, fannable_type: @class).empty? %>
	<%= render 'fans/fan', object: @object %>
	<% else %>
	<%= render 'fans/unfan', object: @object %>
	<% end %>
</div>