<%= link_to "Manage Relationships", "#manage-relationships", :class => "btn", "data-toggle" => "modal" %>

<div id="manage-all-roles">
  <%= render 'shared/manage_relationships_modal', object: object  %>
</div>