<div class="modal fade full-height from-right" id="manage-relationships" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header padding-left-40 padding-right-40">
                <h5 class="bold modal-title text-primary">Manage Relationships.</h5>
            </div>
            <hr class="margin-bottom-0 margin-top-10"/>
            <div class="modal-body padding-left-40 padding-right-40" id="man-rel-modal">
                <%= render 'roles/role_management_modal/modal_content', object: object %>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div><!--.modal-->

