<%= link_to "My Relationships", "#manage-relationships", :class => "btn btn-sm btn-white", "data-toggle" => "modal" %>

<div id="manage-all-roles">
  <%= render 'shared/manage_relationships_modal', object: object  %>
</div>