<% if owner.present? %>
  <% if params[:parent_address].present? %>
    <h4 class="text-muted">Using address for <%= owner.name %>.</h4>
    <%= link_to "Clear Address Form", eval("parent_address_#{owner.class.to_s.downcase}_teams_path(owner_type: owner.class.to_s, owner_id: owner.id, object: object)"), remote: true, class: "bold btn btn-primary btn-xs" %>
  <% else %>
    <h4 class="text-muted">Would you like to use the address for <%= owner.name %>?</h4>
    <p>
    	<%= link_to "Yes, use that address.", eval("parent_address_#{owner.class.to_s.downcase}_teams_path(parent_address: true, owner_type: owner.class.to_s, owner_id: owner.id, object: object)"), remote: true, class: "bold btn btn-primary btn-xs" %>
    </p>
  <% end %>
<% end %>
	