<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

<div class="text-center">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-new no-margin">
      <div class="img-wrapper">
          <%= image_tag  @object.avatar, class: "thumbnail img-responsive" %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="fileinput-preview fileinput-exists"></div>
    <div class="m-t-15 p-b-10 center">
      <button class="btn btn-white box-shadow-ccc mr5" data-toggle="modal" data-target="#picturePhoto">
      Choose File
      </button>
     
      <% unless @profile_pictures.empty? %>
        <%#= render 'users/delete_user_profile_picture_modal', photo: @profile_picture %>
        <button class="btn btn-danger box-shadow-ccc" data-toggle="modal" data-target="#<%= @profile_picture.id %>">
          Remove
        </button>
      <% end %>
    </div>
  </div>
</div>

				  