        <% if @object.forms.where(object: "Registration").present? %>
            <% @object.forms.where(object: "Registration").first.options.present? %>
            <a class="mt10 pull-right btn btn-orange mr20">
                Register
            </a>
            <% end %>
        <% end %>