
<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow" id="nav-tabs">
	<li class="active"><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
    <% if ["User", "School", "League", "Facility"].include? @object.class.to_s %>
    <li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
	<% end %>
	<% if ["School", "League"].include? @object.class.to_s %>
	<li>
		<a href="#people" data-toggle="tab" class="btn-ripple">People</a>
	</li>
	<% end %>
	<% if ["User"].include? @object.class.to_s %>
    <li><a href="#teammates" data-toggle="tab" class="btn-ripple">Teammates</a></li>
	<% end %>
    
	<% if ["Team"].include? @object.class.to_s %>
	<li><a href="#roster" data-toggle="tab" class="btn-ripple">Roster</a></li>
	<% end %>
	<% if ["Team", "School", "League"].include? @object.class.to_s %>
	<li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a></li>
	<% end %>
	<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
	<% if ["Team"].include? @object.class.to_s %>
	<% if current_user %>
	  <% if current_user.admin? or current_user.can_edit_team?(@team)%>
	    <li><a href="#admin" data-toggle="tab" class="btn-ripple">Admin</a></li>
	  <% end %>
	<% end %>
	<% end %>
	<% if ["User"].include? @object.class.to_s %>
    <% if ParentChild.where(child_id: @user.id).present? %>
      <li>
        <a href="#parent-child" data-toggle="tab" class="btn-ripple">Parents</a>
      </li>
    <% end %>
	<% end %>
	<% unless ["Facility"].include? @object.class.to_s %>
	<li><a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a></li>
	<% end %>
	 <% if ["User"].include? @object.class.to_s %>
    <li><a href="#following" data-toggle="tab" class="btn-ripple">Following</a></li>
	<% end %>
	<li><a href="#fans" data-toggle="tab" class="btn-ripple">Fans</a></li>
	<% if ["School"].include? @object.class.to_s %>
	<% if AthleticDirector.where(user_id: current_user.id, school_id: @school.id).present? %>
  	<li>
  		<a href="#certifications" data-toggle="tab" class="btn-ripple">Certifications</a>
  	</li>
	<% end %>
	<% end %>
</ul>

		
<script>
onclick="theFunction(event)"
</script>