<div class="header-tabs scrollable-tabs sticky thin">
	<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-blue" id="nav-tabs">
		<li>
		  <a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Profile</a>
		</li>
		<li>
		  <a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Roster</a>
		</li>
		<li>
		  <a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Documents</a>
		</li>
		<li>
		  <a href="#" data-toggle="tab" class="btn-ripple">Registrations</a>
		</li>
		<li>
		  <a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Payments</a>
		</li>
	</ul>
</div>