<div class="layer-container">

	<!-- BEGIN MENU LAYER -->
	<%= render "shared/nav_layers/menu_layer" %>
	<!-- END OF MENU LAYER -->

	<!-- BEGIN SEARCH LAYER -->
	<%= render "shared/nav_layers/search_layer" %>	
	<!-- END OF SEARCH LAYER -->

	<!-- BEGIN USER LAYER -->
	<%= render "shared/nav_layers/user_layer" %>	
	<!-- END OF USER LAYER -->

</div><!--.layer-container-->
