<div class="row ">
  <% @teams.each do |team| %>

  <div class="col-md-4">
    <div class="card card-meal card-meal-indigo card-square card-hover-shadow">
      <div class="card-heading">
        <h3 class="card-title">
          <span class="text-black lh_22"><%= team.proper_name %></span>
        </h3>
        <div class="card-subhead">
         <%= team.sport %> Team, 
         <i class="ion-location text-primary ml5"></i> 
         <%= team.city_state %>
        </div><!--.card-subhead-->
      </div><!--.card-heading-->
      <div class="card-body">
        <div class="image">
          <%= image_tag("http://www.oxtonhc.co.uk/wp-content/themes/oxtonhc/library/images/team-placeholder.jpg") %>
        </div><!--.image-->
        <ul class="users">
          <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa"><img src="../../assets/globals/img/faces/1.jpg" alt=""></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman"><img src="../../assets/globals/img/faces/2.jpg" alt=""></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla Olsen"><img src="../../assets/globals/img/faces/3.jpg" alt=""></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia Gagné"><img src="../../assets/globals/img/faces/4.jpg" alt=""></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Nicoline Thomsen"><img src="../../assets/globals/img/faces/5.jpg" alt=""></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Christian Roth"><img src="../../assets/globals/img/faces/6.jpg" alt=""></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas Verbeke"><img src="../../assets/globals/img/faces/7.jpg" alt=""></a></li>
        </ul>
      </div><!--.card-body-->
      <div class="card-footer">
        <ul>
        <li class="fs_14">9 Teams</li>
        <li><a href="#" class="fs_14">View Teams</a></li>
      </ul>
      </div><!--.card-footer-->
    </div><!--.card-->
  </div><!--.col-md-12-->
  <% end %>
</div>
<!--.row-->