<div class="panel-body margin-top-10">
    	<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row">
					<div class="pull-left">
						<%= image_tag("http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png", class: "img-circle margin-left-20 margin-right-20", height: "65", width: "65" ) %>
					</div>
					<div class="pull-left">
						<h4 class="margin-bottom-5">First Name, Last Name</h4>
						<p class="small">My Tournament Director Profile</p>
					</div>
				</div>

				<div class="note note-warning note-left-striped">
					<h4>Setting up your tournament.</h4>
					<p class="small text-grey">
						Use the search box below to find your teams. Once added, the team administrator will be notified of your request to join that team. In the meantime, your status will be pending.
					</p>
				</div>
			</div>
		</div>
	</div>