div.pt60
  .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
    .panel.box-shadow-ccc
      / .panel-header.bg-cyan
        br
        - if @event.new_record?
          h5.text-right.text-white.semi-bold
            | Create a New Event
        - else
          h5.text-right.text-white.semi-bold
            | Update Event: #{@event.title}
        i.ion-plus-circled.margin-right-10.margin-left-10.text-white
        hr.margin-top-0
      = form_for [@object, @event], html: {id: 'event-form'} do |f|
        .panel-body.padding-right-40.padding-left-40.padding-bottom-40.bg-cyan
          .row
            .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.col-sm-12
              .row.text-center
                .col-md-12
                  - if @event.new_record?
                    h2.semi-bold.text-white Create a New Event
                  - else
                    h3.semi-bold.text-primary
                      | Update Event: #{@event.title}
                  h4.text-white 1. What type of event?
              .row.margin-bottom-0
                .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
                  = f.collection_select :event_type, EventType.pluck(:event_type), :to_s, :to_s, {include_blank: false}, {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0" }
        .panel-body.padding-right-40.padding-left-40 style=("border-bottom: 1px solid #e5e5e5;")
          .panel-body.padding-right-40.padding-left-40
            .row.example-row
              .col-md-12
                h4 Event Title
              .col-md-12
                .inputer
                  .input-wrapper
                    = f.text_field :title, class: "form-control"
            .row.example-row
              .col-md-12
                h4 Attachment
              .col-md-12
                .inputer
                  .input-wrapper
                    = f.file_field :file, class: "form-control"
            .row.example-row
              .col-md-12
                h4 Facility
              .col-md-12
                .inputer
                  = f.collection_select :facility_ids, Facility.all, :id, :name, {:selected => ""}, {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0", placeholder: "Select a Facility" }
            .repeat-type-row.hide
              .row.example-row
                .col-md-12
                  h4 Repeat Type
                .col-md-12
                  .inputer
                    = f.select :repeat_type, options_for_select(Event.repeat_types.keys.map{ |type| [type.humanize, type.to_s] }, @event.repeat_type), {}, {:multiple => false, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0", placeholder: "Select repeat type" }
              .row.repeat-until.example-row
                .col-md-12
                  h4 Repeat Until
                .col-md-12
                  .inputer
                    .input-wrapper
                      input.form-control.bootstrap-datepicker data-provide="datepicker" name="event[repeat_until]" style=("width: 500px") type="text" value="#{@event.repeat_until}" /
            - if @object.class.to_s == "Team"
              .row.example-row.opponent-row.hide
                .col-md-12
                  h4 Opponent
                .col-md-12
                  .inputer
                    = f.collection_select :opponent_id, Team.all, :id, :name, {:prompt => "Select a Team"}, {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0"}
            .row.example-row
              .col-md-12
                h4 Date and Time
              .col-md-12
                .inputer
                  .input-wrapper
                    - if @event.new_record?
                      input.form-control.bootstrap-daterangepicker-date-time name="event[reservation]" style=("width: 500px") type="text" value=("#{Time.now.month}/#{Time.now.day}/#{Time.now.year} #{Time.now.strftime("%I:%M %p")} - #{Time.now.month}/#{Time.now.day}/#{Time.now.year} #{(Time.now + 1.hour).strftime("%I:%M %p")}") /
                    - else
                      input.form-control.bootstrap-daterangepicker-date-time name="event[reservation]" style=("width: 500px") type="text" value=("#{@event.starts_at.month}/#{@event.starts_at.day}/#{@event.starts_at.year} #{@event.starts_at.strftime("%I:%M %p")} - #{@event.ends_at.month}/#{@event.ends_at.day}/#{@event.ends_at.year} #{@event.ends_at.strftime("%I:%M %p")}") /
            br
            .row.example-row
              .col-md-3 Options
              .col-md-9
                .clearfix.margin-bottom-10
                  .checkboxer.form-inline
                    = f.check_box :all_day, id:"all_day"
                    label for="all_day"  All Day?
                  .checkboxer.form-inline
                    = f.check_box :private, id: "private"
                    label for="private"  Private?
                  .checkboxer.form-inline
                    = f.check_box :payment_required, id: "payment_required"
                    label for="payment_required"  Payment required
            br
            .row.example-row
              .col-md-12
                h4 Description
              .col-md-12
                .inputer
                  .input-wrapper
                    = f.text_area :description, type: "text", class: "form-control", placeholder: ""
            = f.hidden_field :user_id, value: current_user.id
            - if @event.new_record?
              = f.hidden_field :eventable_type, value: @object.class.to_s
        /.panel-body.padding-right-40.padding-left-40.bg-cyan
          .row.example-row.margin-bottom-0
            .col-md-12.text-center
              h3.text-white.margin-bottom-0 Have and Questions?
              p.text-white.semi-bold
                | Please check out our
                a.text-white href="#"
                  u Events FAQ.
        .form-buttons.no-margin.bgcolor-light-grey
          .row
            .col-lg-8.col-lg-offset-2
              br
              = f.submit "Awesome. Let's create an Event!", class: "btn btn-blue btn-lg btn-block btn-ripple"
              br
