<ul class="users">
<% people.each do |person| %>
		<li>
			<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= person.user.full_name %>">
				<%= image_tag person.user.avatar %>
			</a>
		</li>

<% end %>  
</ul>
	