<style>

.sample-bg-image13:before {
  background-image: url('<%=image_path("thumbs/football-game")%>');
	}
</style>

<div class="content">

	<div class="page-header full-content bg-blue">
		<div class="row">
			<div class="col-sm-5">
				<h1>All Events <small>(<%= @object.events.count %>)</small></h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="#" class="active">all events</a></li>
				</ol>
			</div><!--.col-->
			<div class="col-sm-1 text-right">
				<a class="btn btn-floating btn-red" data-toggle="modal" data-target="#panel-new-event">
					<i class="ion-android-add"></i>
				</a>
			</div>
		</div><!--.row-->
	</div><!--.page-header-->

	<div class="row">
		
		<% @object.upcoming_events.each do |event| %>
		<div id="rsvp-for-event-<%= event.id %>">
			<%= render 'events/event', event: event %>
		</div>
		<% end %>

	</div><!--.row-->

</div><!--.content-->


