
<div class="content">

	<div class="page-header full-content bg-blue">
		<div class="row">
			<div class="col-sm-6">
				<h1>All Events <small>(203)</small></h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="#" class="active">all events</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->
	</div><!--.page-header-->

	<div class="row">
		<div class="col-md-4">
			<div class="card card-event">
				<div class="card-heading bg-image sample-bg-image12">
				</div><!--.card-heading-->

				<div class="card-body">
					<div class="calendar">
						<div class="month">November</div>
						<div class="date">27</div>
					</div><!--.calendar-->
					<br/>
					<h4>Young Professionals London</h4>
					<p class="small text-grey">
						<small>
							A Social Networking group with an International mix of Young Professionals interested in meeting other like minded people for friendship / networking 
						</small>
					</p>
				</div><!--.card-body-->

				<div class="card-footer">
					<div class="btn-group btn-merged btn-group-sm pull-right">
						<button type="button" class="btn btn-green btn-flat">Attend</button>
						<button type="button" class="btn btn-orange btn-flat">Maybe</button>
						<button type="button" class="btn btn-red btn-flat">Decline</button>
					</div>
				</div><!--.card-footer-->
			</div><!--.card-->
		</div><!--.col-md-6-->

		<div class="col-md-4">
			<div class="card card-event">
				<div class="card-heading bg-image sample-bg-image14">
				</div><!--.card-heading-->

				<div class="card-body">
					<div class="calendar">
						<div class="month">December</div>
						<div class="date">03</div>
					</div><!--.calendar-->
					<br/>
					<h4 class="no-margin">Remote Working Meetup</h4>
					<p class="small text-grey">
						<small>
							We're talking about tools, ideas and best practice to enable a flexible way of work.
						</small>
					</p>
				</div><!--.card-body-->

				<div class="card-footer">
					<div class="btn-group btn-merged btn-group-sm pull-right">
						<button type="button" class="btn btn-green btn-flat">Attend</button>
						<button type="button" class="btn btn-orange btn-flat">Maybe</button>
						<button type="button" class="btn btn-red btn-flat">Decline</button>
					</div>
				</div><!--.card-footer-->
			</div><!--.card-->
		</div><!--.col-md-6-->
	</div><!--.row-->

</div><!--.content-->


