<div class='subtemplate-wrapper'>
  <div class='cover'></div>
  <%= Formbuilder.templates['templates/formbuilder/view/label']({rf: rf}) %>

  <%= Formbuilder.fields[rf.get(Formbuilder.options.mappings.FIELD_TYPE)].view({rf: rf}) %>

  <%= Formbuilder.templates['templates/formbuilder/view/description']({rf: rf}) %>
  <%= Formbuilder.templates['templates/formbuilder/view/duplicate_remove']({rf: rf}) %>
</div>
