<div id="certifications" class="tab-pane">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>
				<i class="ion-paperclip text-primary margin-right-20"></i>
				Certifications 
			</h3>
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
					</div>
				</div><!--.panel-heading-->
				<div class="panel-body without-padding">
					<ul class="list-material has-hidden">
						
					</ul>
				</div><!--.panel-body-->
			</div><!--.panel-->
		</div>
		<!--#roster.tab-pane-->
	</div>
</div>
