<div id="facilities" class="tab-pane">
	<br/>
	<p class="text-right">
		<%= link_to new_school_facility_path(@school), class: "btn btn-primary mr10 " do %>
			<i class="ion-plus-circled mr5"></i> Add Facility
		<% end %>
	</p>
	
	<%= render 'shared/facilities', facilities: @facilities %>
</div>
