<%= render 'shared/background_photo_tab', photo_owner: @school %>

<div class="bg-overlay"></div>

<div class="row">
	<div class="col-sm-6">
	  <%= render 'shared/upcoming_event', object: @school %>
	</div><!--.col-->
	
</div><!--.row-->
