<div id="people" class="tab-pane tab-top-margin">
   <%= render 'shared/people' %>
	<!-- <ul class="list-material has-hidden">
		<%# @people.each do |person| %>
       		<%#= render 'person', person: person %>
    	<%# end %>
	</ul> -->
</div>
<!--#roster.tab-pane-->
