<div class="container">
  <div class="header-tabs scrollable-tabs sticky">  
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
         	<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active">
					<a href="#about" data-toggle="tab" class="btn-ripple">About</a>
				</li>
				<li>
					<a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a>
				</li>
				<li>
					<a href="#people" data-toggle="tab" class="btn-ripple">People</a>
				</li>
				<!-- <li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li> -->
				<li>
					<a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a>
				</li>
				<li>
					<a href="#media" data-toggle="tab" class="btn-ripple">Media</a>
				</li>
				<li>
					<a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a>
				</li>
				<% if false %>
				<li>
					<a href="#following" data-toggle="tab" class="btn-ripple">Following</a>
				</li>
				<% end %>
					<li>
					<a href="#fans" data-toggle="tab" class="btn-ripple">Fans</a>
				</li>
				<% if AthleticDirector.where(user_id: current_user.id, school_id: @school.id).present? %>
			  	<li>
			  		<a href="#certifications" data-toggle="tab" class="btn-ripple">Certifications</a>
			  	</li>
			  	<li>
					<% if current_user %>
					  <% if current_user.admin? or current_user.can_edit_school?(@school)%>
					    <button href="" class="ml10 mt15 btn btn-blue btn-ripple btn-xs">
					    	<%= link_to edit_school_path(@school) do %>
	                	  		<span class=" text-white">
	                	  			<span class="ion-gear-b mr5"></span> Edit Profile</span>
	                    	<% end %>
	                    </button>
					  <% end %>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
		</div>
	</div>
</div>