<div id="teams" class="tab-pane pt20">
	
	<div class="row bgcolor-white box-shadow-ccc padding-20">
		<div class="col-lg-2 col-md-4 col-sm-6 text-center">
			<h1 class="text-indigo no-margin bold">4</h1>
			<h6 class="text-muted semi-bold no-margin ">No. of Teams</h6>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 text-center">
			<h1 class="text-indigo no-margin bold">47</h1>
			<h6 class="text-muted semi-bold no-margin">No. of Athletes</h6>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 text-center">
			<h1 class="text-indigo no-margin bold">14</h1>
			<h6 class="text-muted semi-bold no-margin">No. of Coaches</h6>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 text-center">
			<h1 class="text-indigo no-margin bold">4</h1>
			<h6 class="text-muted semi-bold no-margin">No. of Team Managers</h6>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 text-center">
			<h1 class="text-indigo no-margin bold">4</h1>
			<h6 class="text-muted semi-bold no-margin">No. of Athletic Trainers</h6>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 mt10">
			<div class="well bgcolor-light-grey">
				<div class="btn-group btn-block">
					<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
					Select a Team <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% @teams.each do |team| %>
							<li>
								<%= link_to team_path(team) do %>
					  			<%= team.name %>
					  		<% end %>
					  	</li>
						<% end %>
					</ul>
				</div><!--.btn-group-->
			</div>
		</div>
		
	</div>

	<hr/>

	<div class="row">
		<div class="col-lg-12">
		<div class="row teams">
			<%= render 'shared/team_rosters' %>
		</div>
	</div>
</div>



	<!-- <ul class="list-material">
		<% @teams.each do |team| %>
			<li class="has-action-left has-action-right">
				<a href="#" class="visible">
					<div class="list-action-left">
						<i class="ion-university icon-circle"></i>
					</div>
					<div class="list-content">
						<span class="title">
							<%= link_to team.name, "/teams/#{team.slug}" %>
						</span>
						<span class="caption">Basketball</span>
					</div>
					<div class="list-action-right">
						<span class="top">15 min</span>
						<i class="ion-android-done bottom"></i>
					</div>
				</a>
			</li>
		<% end %>
	</ul> -->
</div>
<!--#teams.tab-pane-->
