<%= link_to current_user.follows.where(fannable_id: @object.id, fannable_type: @class).last, method: :delete, remote: true, class: "btn btn-success" do %>
  	<span class="ion-checkmark-circled mr5"></span> I'm a Fan! 
<% end %>
