<table class="table table table-bordered table-striped table-condensed" id="pricing-table">
  <tbody>
    <% objects.each do |object| %>
	  <tr id="<%= object.class.to_s %>-<%= object.id%>-tr">
	   <%= render 'pricings/object', object: object%>
	 </tr>
   <% end %>
  </tbody>
</table>



