<%= link_to "Schools", pricings_path(view: "schools"), remote: true %> | <%= link_to "Teams", pricings_path(view: "teams"), remote: true %> | <%= link_to "Leagues", pricings_path(view: "leagues"), remote: true %>

<div id="objects">
  <%= render 'pricings/list', objects: @schools %>
</div>