<div class="row">
	<div class="col-md-6">
		<%= image_tag("placeholders/team.jpg", class: "img-circle", height: "45", width: "45", ) %> 
		<span class="h4 semi-bold text-black margin-left-20"><%= type %></span>
	</div>
	<div class="col-md-6">
		<%= link_to user.classifications.where(classification: type).last, method: :delete, remote: true, class: "btn btn-danger btn-block pull-right" do %>
			Remove [type] status <i class="ion-close-circled pull-right"></i> 
		<% end %>
		<br/>
	</div>
</div>
<br/>



