<!-- Latest compiled and minified CSS -->         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->                           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



<h1><%#= format(Date.today, 4)%></h1>

<a href="btn-primary btn-cons center" data-toggle="modal" data-target="#myModal">
  <i class="glyphicon glyphicon-plus-sign m-l-5 lh-18"></i>
</a>

<h2>Schools</h2>
<div id="schools">
  <%= render @schools %>
</div>




<%= render 'new_school_modal'%>