<div class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		
		<div class="col-md-12">
			<div class="panel box-shadow-ccc">
			<div class="panel-header">
				<h5 class="text-right pr30 pt20 semi-bold">Manage Facility Types</h5>
				<hr class="margin-top-0"/>
			</div>
			<div class="panel-body" style="border-bottom: 1px solid #ddd;">
			 	<div class="margin-bottom-0">
					<div class="col-md-4">
						<h4 class="semi-bold mb20">Create a New Facility Type</h4>	
						<%= form_for @facility_type, html: {id: 'facility-type-form', data: {remote: true}} do |f| %>
							<div class="row">
								<div class="col-md-12">
									<div class="row example-row">
										<div class="col-md-12 mb10"><span class="text-primary">1. Choose a Sport</span></div>
										<div class="col-md-12">
											<div class="inputer">
												<select class="selecter bg-white margin-bottom-0" data-width="100%" data-live-search="true">
													<option>Basketball Gym</option>
													<option>Recreation Center</option>
													<option>Tennis Court</option>
													<option>Volleyball Court</option>
													<option>Soccer Field</option>
													<option>Indoor Soccer Field</option>
													<option>Track</option>
													<option>Indoor Track</option>
													<option>Football Field</option>
													<option>Indoor Football Field</option>
												</select>
											</div>
										</div><!--.col-md-9-->
									</div><!--.row-->
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="row example-row">
										<div class="col-md-12"><span class="text-primary">2. Enter Facility Type</span></div>
										<div class="col-md-12">
											<div class="inputer">
												<div class="input-wrapper">
													<%= f.text_field :facility_type, type: "text", class: "form-control", placeholder: ""%>
												</div>
											</div>
										</div><!--.col-md-9-->
									</div><!--.row-->
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="row example-row">
										<%= f.submit class: "btn btn-primary" %>
									</div>
								</div>
							</div>
						<% end %>	
					</div>
					<div class="col-md-offset-1 col-md-7">
						<div class="row">
							<div class="col-md-12">
								<div class="">
									<h4 class="semi-bold">All Facility Types</h4>
									<div class=" well padding-20 ">
										<table id="facility-type-list" class="table table-hover table-condensed" id="example">
								          <thead>
								            <tr>
								              <th style="width:30%" class="semi-bold h6 text-muted">Facility Type</th>
											  <th style="width:30%" class="semi-bold h6 text-muted">Sport</th>
								              <th style="width:30%" class="semi-bold h6 text-muted">Actions</th>
								            </tr>
								          </thead>
								          <tbody>
								            <%= render @facility_types %>
								          </tbody>
							        	</table>
							        </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
