<div class="content">
  
  <!-- page header -->
  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>Welcome <small> Let's Get Started</small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">Teams</a></li>
          <li><a href="#" class="active">New</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->

	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-6 col-md-offset-3">
			<div class="panel">
				
				<!-- panel header -->
				<div class="panel-heading">
					<div class="panel-title">
						<br/>
						<h3>Let's quickly customize your account.</h3>
						<p>Please tell us a litte about yourself, by identifying your user group</p>
					</div>
				</div>
				<!--.panel-heading-->
				
				<!-- panel body -->
				<div class="panel-body">
					<div id="type-list">
						 <%= render 'classifications/type', user: @user %>
					</div>
				</div>
				<!--.panel-body-->

			</div><!--.panel-->

			<%= link_to "Configure Your Setup", user_setup_path(@user), class: "btn btn-block btn-primary" %> 

		</div><!--.col-md-12-->
	</div><!--.row-->

</div>
<%#= @id %>
<%#= @class %>
