<%= link_to Connect.where(ownerable_id: team.id, ownerable_type: team.class.to_s, connectable_type: "League", connectable_id: league.id ).last , method: :delete, remote: true, class: "btn btn-sm btn-danger pull-right" do %>
	Remove <i class="ion-close-circled pull-right margin-left-10"></i> 
<% end %>
<%= league.name %>
<div class="clearfix"></div>
<hr/>



