<% children.each do |child| %>
  <li class="has-action-left has-action-right" id="child_<%= child.id %>">
    <a href="#" class="visible">
      <div class="list-action-left">
        <%= link_to user_remove_child_path(user_id: @user.id, child_id: child.id ) , class: 'btn btn-floating btn-orange initial-position floating-open', remote: true, method: :delete do %>
          <i class="ion-person-stalker"></i>
        <% end %>
      </div>
      <div class="list-content padding-left-30">
									<span class="title">
										<%= child.full_name %>
									</span>
									<span class="caption">
										<i class="ion-location"></i>
                    <%= child.age %>,
										[city, state], 
										[Schoo/League Name], 
										[# of team members] 
									</span>
      </div>
      <div class="list-action-right">
        <span class="top">Pending</span>
        <i class="ion-android-checkmark-circle bottom"></i>
      </div>
    </a>
  </li>
<% end %>