<tr>
  <td class="v-align-middle">
    <h5 class="semi-bold muted">
      <% if !params[:user_id].present? %>
        <%= "#{signed_document.try(:user).try(:first_name)} #{signed_document.try(:user).try(:last_name)}" %>
      <% else %>
        <%= signed_document.document.documentable.name %>
      <% end %>
    </h5>
  </td>
  <td class="v-align-middle">
    <%= link_to signed_document.try(:document).try(:description), signed_document.file_url, target: "_blank" %>
  </td>
  <td class="v-align-middle">
    <% if signed_document.signed %>
      <%= signed_document.updated_at.strftime("%m/%d/%Y") %>
    <% else %>
      Not Signed Yet.
    <% end %>
  </td>
</tr>