<div class="content">
  <div class="page-header full-content bg-blue mb0">
    <div class="row">
      <div class="col-sm-6">
        <h1>Admin <small>Signed Documents</small></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= eval("#{@object.class.to_s.downcase.pluralize}_path")%>"><%= @object.class.to_s.pluralize %></a></li>
          <li><%= link_to @object.name, @object %></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="pt60">
    <div class="row">
      <div class="col-lg-8 col-sm-offset-2">
        <div class="panel box-shadow-ccc">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="semi-bold">Signed Documents</h4>
            </div>
          </div>
          <div class="panel-body pb40">
            <div class="">
              <table id="document-list" class="table table-hover table-condensed" id="example">
                <thead>
                <tr>
                  <th style="width:30%" class="semi-bold h6 text-muted">Counterparty</th>
                  <th style="width:30%" class="semi-bold h6 text-muted">Document</th>
                  <th style="width:30%" class="semi-bold h6 text-muted">Date Signed</th>
                </tr>
                </thead>
                <tbody>
                <% if @signed_documents.present? %>
                  <% @signed_documents.each do |signed_document| %>
                    <%= render partial: 'signed_documents/document', locals: { signed_document: signed_document } %>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>