/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *
 * <!-- BEGIN CORE CSS -->
 *= require pleasure/one-page-parallax/css/layout.css
 *= require pleasure/globals/css/elements
 *= require pleasure/custom

 
 */

.no-padding {padding: 0;}

.bg-image:after {
  position: absolute;
  content: '';
  background-color: rgba(65, 77, 88, 0.75);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}



.header .navigation > li {
  display: inline-block;
  position: relative;
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-family: 'Oswald';
  top: -4px;
}

.slide h1, h2, h3, h4, h5 {font-family: 'Oswald';}

.bg-image > .container {z-index: 9999999;}

.text-white {color: #ffffff;}

h1.h0 {font-size: 55px;}

.highlight {color: #fec006}

.ws2 {word-spacing: 2px}

.logo {font-family: 'Black Ops One'; color: #666; font-size: 30px;}

.header .logo img {
  width: auto;
}

.header .btn.btn-indigo {
  font-family: 'Oswald';
  background: #337ab7;
  border-color: #337ab7;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: none;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.btn {
  font-family: 'Oswald';
  background: #337ab7;
  border-color: #337ab7;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: none;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.header .btn-action {
  position: absolute;
  right: 0;
  top: 13px;
  -webkit-transition: right 180ms cubic-bezier(0.35, 0, 0.25, 1);
  transition: right 180ms cubic-bezier(0.35, 0, 0.25, 1);
}

.header .btn.btn-indigo {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: none;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.slide p.caption {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 50px;
}

.no-margin {margin: 0 !important;}

.semi-bold {font-weight: 400;}

.bold {font-weight: bold;}

.text-cyan {color: #07e3ff;}

.slide .list-vertical li .list-info span {
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px !important;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.margin-top-0 {margin-top: 0 !important;}

.list-vertical h4 {font-size: 20px; }

ul.navigation li.active  {
	background-color: rgba(153, 153, 153, 0.25);
}


.slide {
  background-color: #fff;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  padding: 200px 0 !important;
}