/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *
 * <!-- BEGIN CORE CSS -->
 *= require pleasure/one-page-parallax/css/layout.css
 *= require pleasure/globals/css/elements

 
 */

.text-white {color: #fff !important;}
.no-padding {padding: 0;}
.bold {font-weight: bold;}
p.lead {line-height: 12 px;}

.bg-image:after {
  position: absolute;
  content: '';
  background-color: rgba(65, 77, 88, 0.75);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}


.header {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15) !important;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: height 280ms cubic-bezier(0.35, 0, 0.25, 1), background-color 280ms cubic-bezier(0.35, 0, 0.25, 1);
  transition: height 280ms cubic-bezier(0.35, 0, 0.25, 1), background-color 280ms cubic-bezier(0.35, 0, 0.25, 1);
}


.slide h1, .slide h2, .slide h3, .slide h4, .slide h5 {font-family: 'Oswald';}

.bg-image > .container {z-index: 9999999;}

.text-white {color: #ffffff;}

.highlight {color: #fec006}

.ws2 {word-spacing: 2px}

.logo {font-family: 'Black Ops One'; font-size: 20px;}

.header .logo img {
  width: auto;
}

.header .btn.btn-indigo {
  font-size: 16px;
  box-shadow: none;
  letter-spacing: 1px;
  word-spacing: 1px;
}


.header .btn-action {
  position: absolute;
  right: 0;
  top: 13px;
  -webkit-transition: right 180ms cubic-bezier(0.35, 0, 0.25, 1);
  transition: right 180ms cubic-bezier(0.35, 0, 0.25, 1);
}

.header .btn.btn-indigo {
  font-size: 16px;
  box-shadow: none;
  letter-spacing: 1px;
  word-spacing: 1px;
}


.no-margin {margin: 0 !important;}

.semi-bold {font-weight: 400;}

.bold {font-weight: bold;}

.text-cyan {color: #07e3ff;}



.margin-top-0 {margin-top: 0 !important;}

.list-vertical h4 {font-size: 20px; }

ul.navigation li.active  {
  background-color: rgba(153, 153, 153, 0.25);
  border-bottom: 5px solid #fec006;
}

.btn-flat:hover, .btn-flat:focus, .btn-flat.focus, .btn-flat:active, .btn-flat.active, .open > .dropdown-toggle.btn-flat {
  box-shadow: none;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.dropdown-menu {border-radius: 4px !important;}




