conditionals

if @object is team, import roster
if @object is school, two options: upload teams, uploads teams w/ roster
if @object is club, two options: upload teams, uploads teams w/ roster
if @object if league, hide for now
if @object is facility, hide for now


<div class="content">
	<div class="page-header full-content bg-blue mb0">
	  <div class="row">
	    <div class="col-sm-6">
	      <h1><%= params[:controller].capitalize %>: <small>Excel Uploads</small></h1>
	    </div><!--.col-->
	    <div class="col-sm-6">
	      <ol class="breadcrumb">
	        <li><a href="/"><i class="ion-home"></i></a></li>
	        <li><a href="<%= users_path %>" class="active">all users</a></li>
	      </ol>
	    </div><!--.col-->
	  </div><!--.row-->
	</div><!--.page-header-->

	   
	  	
	<div class="pt60">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<div class="panel">
		    	<div class="panel-heading">
						<div class="panel-title">
							<h3 class="no-margin bold">Populate Account Information</h3>
							<h6 class="no-margin">Use the form below to upload data using an MS Excel spreadsheet.</h6>
						</div>
					</div>
					<div class="panel-body">
						<%= render 'uploads/import_roster'%>
					</div>
				</div>
			</div>
		</div>
	</div>