<div id="facilities" class="tab-pane tab-top-margin">
	<div class="col-lg-8 col-lg-offset-2">
		<p class="text-right">
			<%= link_to new_club_facility_path(@object), class: "btn btn-primary mr10 " do %>
				<i class="ion-plus-circled mr5"></i> Add Facility
			<% end %>
		</p>
	    <div id="facility-show-list">
		<%= render 'shared/facilities', facilities: @facilities %>
        </div>
	</div>
</div>
