<div class="col-md-4 element-item" data-category="" style="min-height: 400px;">

  <div class="card card-meal card-meal-blue card-square card-shadow">
    <div class="card-heading">
        <h3 class="card-title"><%= school.name %></h3>

        <div class="card-subhead">
          <a href="#">
            <%#= school.city %><br>

      <i class="glyphicon glyphicon-map-marker"></i>
      <%#= school.city_state %>
      </a>
      </div><!--.card-subhead-->
      </div><!--.card-heading-->
      <div class="card-body">
        <div class="image">
          <a href="#">
            <!-- placeholder image for school image -->
            <%= image_tag("placeholders/classroom.jpg") %>
          </a>
        </div>
        <!--.image-->
      </div>
      <!--.card-body-->
      <div class="card-footer">
        <div id="apply-for-school-<%= school.id %>">

          <% unless AthleticDirector.where(school_id: school.id, user_id: current_user.id).present? %>
            <%= render 'setup/athletic_director_setup/athletic_director_setup_add_school_form', school: school %>
          <% end %>


        </div>
        <!-- team id -->
      </div>
      <!--.card-footer-->
    </div>
    <!--.card-->


    <div class="clearfix"></div>

  </div>
  <!--.col-md-4-->
